@import "color";
h2 {
    font-size: 24px;
    margin: 15px;
    margin-left: 0;
    padding-left: 15px;
    position: relative;
    &::before {
        content: " ";
        width: 8px;
        height: 22px;
        background-color: $primary;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 5px;
    }
}
h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 15px;
}
p {
    font-size: 14px;
}

li {
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
